.modal {
  display: flex;
  color: #10132c;
}

.modal-background {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1;
}

.img-modal-close {
  position: absolute;
  top: 16px;
  left: 10px;
  width: 32px;
  height: 32px;
}
